.course-list-container {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-list-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #954caf;
    color: white;
}

thead th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

tbody tr {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #333;
}

tbody td:first-child {
    font-weight: bold;
}

